<!-- Content -->

  <div class="content">
  <h5><b>I'm Celeste</b></h5>
    <p><b>I am attending to Queensborough Community College. My major is Digital Arts and Design. I desire to obtain a minors degree in Bussines. I have worked with Adobe Illustrator, Photoshop. I have also been exposed to Angular and Visual Studio to create coding. </b></p>
  </div>

  <br>
  <br>

    <div class="thumbnail">
      <img 
      src="https://dm2305files.storage.live.com/y4pAr7TQJ8cT-upTNtJ_FoGt6einXIMLFWTNx-SOMYMhqrH9DwFp5qzC2fPOKyTFcZXVMFKP5fL_UyeFAJslhY7j_pH8cu0OW-zboqtO4uZsP1KvHM5TLOd00tdG3XnqwCMcapv_3f53_jj3XHjj96B9iKFODRmxTpQ0VQ4L_VsedZ5cVAMckdpVD1nfWQDsei8EC1JWyHsnq92CcD0-_mnGWwJe4go0ncw1fAtniNC1x4/Love_photography.JPG?psid=1&width=1076&height=807" width="300">

 <!-- Content -->
  <div class="content">
    <h5><b>Two snails together</b></h5>
    
  </div>

  <br>
  <br>

<div class="thumbnail">
  <img
  src="https://dm2305files.storage.live.com/y4pYCvcogCI9d-B4BfvCJR0wp_f8TPS7W8f2aN73Xk9F-d-Mpx6wfOL_RspcFfdD8D795vMKX7CGdfp8Avip7pRLllgmmI4PuyDbelf_YZuxlSq8q-whtr9a691gqzzdPqUEPvM0Wq32xb68Djvztf2gN796_WPIhP5nsjzbKIIRV1Ae3tbEBWHjwEyN5wRmBqRWFxtdkfsD4r9o4ZFhv4TOUMqt_BYefHN12LxvoFI7Ao/Rooseveltfield_mall.jpg?psid=1&width=606&height=807" width="300">

<!-- Content -->
  <div class="content">
    <h5><b>Roosevelt Field Mall, second floor</b></h5>
    
  </div>

  <br>
  <br>

<div class="thumbnail">
  <img
  src="https://dm2305files.storage.live.com/y4p7w0hG-GNXpwsR0LBDoNQt4VnCExKr9wcD22PQ0NU5fMnZn7QsU6OyzlDO0VSnePXGIOkLWawYLnaqPiGN1Pydb-qYrH-HW7IfEVnena_uRfKDJE08h4gALnefFLxFvL7UIZc56ZScdpCywM0SA3vTWjY2ofpr9ZIQkUWMoXSWQx_qk4bGmTc1wW8si4TJq9EObwVYbnh1owV0fgngF5NDe_Odu43uNgyCkq_GJ24eqA/Black%26white.jpg?psid=1&width=1076&height=807" width="300">
  
  <!-- Content -->
  <div class="content">
    <h5><b>Maryland View</b></h5>
    
  </div>

<br>
<br>

  <div class="thumbnail">
    <img
    src="https://dm2305files.storage.live.com/y4p2Ty7zmepjYoBjp8ZDiLQ1gRY7rCEqCrWrm_6n_FFnRTBRvWW7mROIohCOdt6JfTg0K-oByl1jv39ewbS8wglp7hracaZq1ic2zVtP1jbEGweBmDXRYk3CLDJJUfTrBiBFbDkgJ3XPd_iUoCALX_rqljQNu3O5XpDWZzK5PUrMmAjFgvBsYR5Kfb5QxUfA5Xif6vP4ijGOu_NlGWRakscOB6ydXvIkU_LTI-eAJi26SU/Christmas_photo.JPG?psid=1&width=606&height=807" width="300">
    
    <!-- Content -->
  <div class="content">
    <h5><b>Christmas Vibes</b></h5>
    
  </div>

</div>








