<a [routerLink]="['/']">
  <h1>My Store</h1>
</a>

<div class="grid-x grid-margin-x">

  <!-- <div class="medium-6 large-3 cell">
    <button type="button"
      class="button primary"
      [attr.aria-expanded]="!isOffcanvas"
      aria-controls="offCanvasMenuLeft"
      (click)="offcanvasLeft.show()">
      Toggle Off Canvas Left
    </button>
  </div> -->
  
  <div class="medium-6 large-3 cell">
    <button type="button"

      class="button fancy-button"

      [attr.aria-expanded]="!isOffcanvas"
      aria-controls="offCanvasMenuRight"
      (click)="offcanvasRight.show()">
      Menu
    </button>
  </div>

  <!-- <div class="medium-6 large-3 cell">
    <button type="button"
      class="button primary"
      [attr.aria-expanded]="!isOffcanvas"
      aria-controls="offCanvasMenuTop"
      (click)="offcanvasTop.show()">
      Toggle Off Canvas Top
    </button>
  </div>
  <div class="medium-6 large-3 cell">
    <button type="button"
      class="button secondary"
      [attr.aria-expanded]="!isOffcanvas"
      aria-controls="offCanvasMenuBottom"
      (click)="offcanvasBottom.show()">
      Toggle Off Canvas Bottom
    </button>
  </div> -->
  </div><!-- /grid -->

<!-- Position Left 
<div [offcanvas]="isOffcanvas"
  class="off-canvas position-left"
  id="offCanvasMenuLeft"
  aria-hidden="true"
  #offcanvasLeft="bs-offcanvas">
  <h4>Off Canvas Left</h4>
  <ul class="menu vertical">
    <li routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/components/callouts" (click)="offcanvasLeft.hide()">Callouts</a>
    </li>
  </ul>
  <button class="close-button" aria-label="Close Menu" aria-controls="offCanvasMenu" type="button" (click)="offcanvasLeft.hide()">
    <span aria-hidden="true">×</span>
  </button>
</div> -->

<!-- Position Right -->
<div [offcanvas]="isOffcanvas"
  class="off-canvas position-right"
  id="offCanvasMenuRight"
  aria-hidden="true"
  #offcanvasRight="bs-offcanvas">
  <h4>QCC</h4>
  <ul class="menu vertical">
    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      
      <a routerLink="/" class="button fancy-button">
        <i class="material-icons">store</i>My Store
      </a>

    </li>

    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      
      <a routerLink="/cart" class="button fancy-button">
        <i class="material-icons">shopping_cart</i>Checkout
      </a>
      
    </li>

    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      
      <a routerLink="/shipping" class="button fancy-button">
        <i class="material-icons">local_shipping</i>Shipping
      </a>
      
    </li>

    <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
      
      <a routerLink="/graphic" class="button fancy-button">
        <i class="material-icons">description</i>Graphic Design
      </a>
      
    </li>



  </ul>
  <button class="close-button" aria-label="Close Menu" aria-controls="offCanvasMenu" type="button" (click)="offcanvasRight.hide()">
    <span aria-hidden="true">×</span>
  </button>
</div>

<!-- Position Top 
<div [offcanvas]="isOffcanvas"
  class="off-canvas position-top"
  id="offCanvasMenuTop"
  aria-hidden="true"
  #offcanvasTop="bs-offcanvas">
  <h4>Off Canvas Top</h4>
  <ul class="menu vertical">
    <li routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/components/callouts" (click)="offcanvasTop.hide()">Callouts</a>
    </li>
  </ul>
  <button class="close-button" aria-label="Close Menu" aria-controls="offCanvasMenu" type="button" (click)="offcanvasTop.hide()">
    <span aria-hidden="true">×</span>
  </button>
</div> -->

<!-- Position Bottom 
<div [offcanvas]="isOffcanvas"
  class="off-canvas position-bottom"
  id="offCanvasMenuBottom"
  aria-hidden="true"
  #offcanvasBottom="bs-offcanvas">
  <h4>Off Canvas Bottom</h4>
  <ul class="menu vertical">
    <li routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }">
      <a routerLink="/components/callouts" (click)="offcanvasBottom.hide()">Callouts</a>
    </li>
  </ul>
  <button class="close-button" aria-label="Close Menu" aria-controls="offCanvasMenu" type="button" (click)="offcanvasBottom.hide()">
    <span aria-hidden="true">×</span>
  </button>
</div> -->
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->